---
interface Props {
  url?: string;
}

const { url } = Astro.props;
---

<h2
  class:list={[
    'text-3xl font-bold tracking-tight mb-2',
    url ? 'text-zinc-800' : 'text-zinc-300 cursor-default'
  ]}
>
  {
    url ? (
      <Fragment>
        {/*Hover background*/}
        <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl" />

        <a href={url}>
          <span class="relative z-10">
            <slot />
          </span>
        </a>
      </Fragment>
    ) : (
      <span class="relative z-10">
        <slot />
      </span>
    )
  }
</h2>
