---
import { formatDate } from '../../lib/date';
import CardTitle from './CardTitle.astro';

interface Props {
  title: string;
  date: string;
  teaser: string;
  url?: string;
}

const { url, title, date } = Astro.props;
---

<article class="group relative shadsow rounded-lg p-3">
  <CardTitle url={date ? url : undefined}>{title}</CardTitle>

  {
    date ? (
      <time datetime={date} class="relative z-10 mb-3 text-sm text-zinc-400">
        {formatDate(date)}
      </time>
    ) : (
      <span class="text-zinc-500 text-sm font-bold">Work in progress</span>
    )
  }
</article>
