---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Containers/Container.astro';
import BlogPostCard from '../components/BlogPostCard/Card.astro';

const posts = await Astro.glob('../pages/blog/*.md');

// Sort posts by date
posts.sort((a, b) => {
  const dateA = new Date(a.frontmatter.pubDate);
  const dateB = new Date(b.frontmatter.pubDate);
  return dateB.getTime() - dateA.getTime();
});
---

<Layout
  title="Bjørn Fridal - Frontend developer in Copenhagen"
  description="My thoughts primarily on frontend development."
>
  <Container class="mt-16 sm:mt-32">
    <header class="max-w-2xl">
      <h1
        class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
      >
        Frontend developer in Copenhagen.
      </h1>
      <p class="mt-5 text-zinc-600">
        My thoughts primarily on frontend development.
      </p>
      <!-- <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
        I have worked with web dev for 18 years. My primary work revolves around
        web application. Either building from scratch or optimizing existing.
        using with React, Next.js. Feel free to reach out to me on{' '}
        <a
          href="mailto:bjorn@fridal.dk"
          class="text-zinc-500 hover:text-zinc-600 dark:text-zinc-400 dark:hover:text-zinc-300"
          >bjorn@fridal.dk</a
        >
      </p> -->

      <!-- <h1>Welcome to <span class="text-gradient">Astro</span></h1>

      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your
        project.<br />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
        above.
      </p> -->
    </header>
    <div class="mt-16 sm:mt-20">
      <div class="flex max-w-3xl flex-col space-y-10">
        {
          posts.map((post) => (
            <BlogPostCard
              url={post.url}
              title={post.frontmatter.title}
              date={post.frontmatter.pubDate}
              teaser={post.frontmatter.teaser}
            />
          ))
        }
      </div>
    </div>
  </Container>
</Layout>
