---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Containers/Container.astro';
import BlogPostCard from '../components/BlogPostCard/Card.astro';

const posts = await Astro.glob('../pages/blog/*.md');

// Sort posts by date
posts.sort((a, b) => {
  const dateA = new Date(a.frontmatter.pubDate);
  const dateB = new Date(b.frontmatter.pubDate);
  return dateB.getTime() - dateA.getTime();
});
---

<Layout
  title="Bjørn Fridal - Frontend developer in Copenhagen"
  description="My thoughts primarily on frontend development."
>
  <Container class="mt-16 sm:mt-32">
    <header class="max-w-2xl">
      <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl">
        Frontend developer in Copenhagen.
      </h1>

      <!-- <p class="mt-5 text-zinc-600">
        My thoughts primarily on frontend development.
      </p> -->
    </header>
    <div class="mt-16 sm:mt-20">
      <div class="flex max-w-3xl flex-col space-y-10">
        {
          posts.map((post) => (
            <BlogPostCard
              url={post.url}
              title={post.frontmatter.title}
              date={post.frontmatter.pubDate}
              teaser={post.frontmatter.teaser}
            />
          ))
        }
      </div>
    </div>
  </Container>
</Layout>
