---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Container from '../components/Containers/Container.astro';
import BioMega from '../components/BioMega.astro';
import Card from '../components/Card.astro';

const posts = await getCollection('blog');

// Sort posts by date
posts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate || -1);
  const dateB = new Date(b.data.pubDate || -1);

  return dateB.getTime() - dateA.getTime();
});
---

<Layout
  title="Bjørn Fridal - Frontend developer in Copenhagen"
  description="My thoughts primarily on frontend development."
>
  <Container class="mt-10">
    <BioMega />

    <div class="mt-10 sm:mt-24">
      <div class="flex max-w-3xl flex-col">
        {
          posts.map((post) => (
            <Card
              slug={`blog/${post.slug}`}
              title={post.data.title}
              date={post.data.pubDate}
              teaser={post.data.teaser}
            />
          ))
        }
      </div>
    </div>
  </Container>
</Layout>
