---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Containers/Container.astro';
import Bio from '../components/Bio.astro';
import Card from '../components/Card.astro';

const posts = await Astro.glob('../pages/blog/*.md');

// Sort posts by date
posts.sort((a, b) => {
  const dateA = new Date(a.frontmatter.pubDate);
  const dateB = new Date(b.frontmatter.pubDate);
  return dateB.getTime() - dateA.getTime();
});
---

<Layout
  title="Bjørn Fridal - Frontend developer in Copenhagen"
  description="My thoughts primarily on frontend development."
>
  <Container class="mt-10">
    <Bio />

    <div class="mt-16 sm:mt-24">
      <div class="flex max-w-3xl flex-col">
        {
          posts.map((post) => (
            <Card
              url={post.url}
              title={post.frontmatter.title}
              date={post.frontmatter.pubDate}
              teaser={post.frontmatter.teaser}
            />
          ))
        }
      </div>
    </div>
  </Container>
</Layout>
