---
import Layout from '../layouts/Layout.astro';
---

<Layout title="projects">
  <div>
    <h1>projects <span>Fridal</span></h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor,
      nunc eget ultricies aliquam, nunc nisl ultricies nunc, quis ultricies nisl
      nunc eget nisl. Donec auctor, nunc eget ultricies aliquam, nunc nisl
      ultricies nunc, quis ultricies nisl nunc eget nisl.
    </p>
  </div>
</Layout>
