---
import type { HTMLTag } from 'astro/types';
export interface Props {
  titleTag?: HTMLTag;
  showSocial?: boolean;
}
const { titleTag: TitleTag = 'h1' } = Astro.props;
---

<header class="flex flex-col items-center gap-y-4 sm:gap-y-10 text-center">
  <div class="relative h-28 w-28 flex-none">
    <img
      src="/bface.jpg"
      alt="Bjørn Fridal"
      class="rounded-full w-full h-full relative z-10"
    />
    <div
      class="absolute -inset-1 rounded-full bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-500 z-0 animate-spin-slow"
    >
    </div>
  </div>
  <div class="w-full">
    <div class="flex items-center justify-center gap-x-2 mb-3">
      <span class="bg-emerald-600 relative rounded-full w-2 h-2 inline-block">
        <span
          class="absolute -left-0 -top-0 opacity-25 bg-emerald-600 rounded-full w-2 h-2 inline-block animate-grow-fade"
        ></span>
      </span>
      <p class="text-emerald-600 text-lg font-bold">Available for work</p>
    </div>

    <TitleTag class="font-extrabold text-4xl mb-2 md:text-7xl md:mb-5">
      Bjørn Fridal
    </TitleTag>

    <p class="font-extrabold text-xl md:text-3xl mb-8">
      Fullstack development is my jam 🍓
    </p>

    <div class="grid grid-cols-2 sm:grid-cols-4 gap-y-2 gap-x-5 mx-3 sm:mx-0">
      <div class="relative">
        <h4
          class="text-zinc-500 text-xs tracking-widest uppercase font-semibold"
        >
          Frontend
        </h4>
        <p class="text-sm font-extrabold whitespace-nowrap mb-2.5">
          React & Next.js
        </p>
        <div
          class="absolute h-0.5 w-full left-0 bottom-0 bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-500 z-0"
        >
        </div>
      </div>
      <div class="relative">
        <h4
          class="text-zinc-500 text-xs tracking-widest uppercase font-semibold"
        >
          Backend
        </h4>
        <p class="text-sm font-extrabold whitespace-nowrap mb-2.5">
          Node.js & C#
        </p>
        <div
          class="absolute h-0.5 w-full left-0 bottom-0 bg-gradient-to-br from-pink-500 via-purple-500 to-indigo-500 z-0"
        >
        </div>
      </div>
      <div class="relative">
        <h4
          class="text-zinc-500 text-xs tracking-widest uppercase font-semibold"
        >
          Testing
        </h4>
        <p class="text-sm font-extrabold whitespace-nowrap mb-2.5">
          RTL & Cypress
        </p>
        <div
          class="absolute h-0.5 w-full left-0 bottom-0 bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-500 z-0"
        >
        </div>
      </div>
      <div class="relative">
        <h4
          class="text-zinc-500 text-xs tracking-widest uppercase font-semibold"
        >
          Infrastructure
        </h4>
        <p class="text-sm font-extrabold whitespace-nowrap mb-2.5">
          Vercel & AWS
        </p>
        <div
          class="absolute h-0.5 w-full left-0 bottom-0 bg-gradient-to-br from-pink-500 via-purple-500 to-indigo-500 z-0"
        >
        </div>
      </div>
    </div>
  </div>
</header>
