---
import DesktopNavItem from './DesktopNavItem.astro';

interface Props {
  links: {
    url: string;
    label: string;
  }[];
}

const { links } = Astro.props;
---

<nav class="hidden md:block">
  <ul
    class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur"
  >
    {
      links.map((link) => (
        <DesktopNavItem href={link.url}>{link.label}</DesktopNavItem>
      ))
    }
  </ul>
</nav>
