---
import Container from './Containers/Container.astro';

const links = [
  {
    url: '/cv',
    label: 'CV'
  },
  {
    url: 'mailto:bjorn@fridal.dk',
    label: 'Contact'
  }
];
---

<header class="relative z-50 flex flex-none flex-col">
  <div class="top-0 z-10 h-16 pt-6">
    <Container>
      <div class="relative flex gap-4">
        <div class="flex flex-1">
          <div class="">
            <a
              href="/"
              class="font-bold text-sm inline-block cursor-pointer tracking-widest text-black hover:text-slate-500 transition-colors duration-200"
              >FRIDAL
            </a>
          </div>
        </div>

        <nav class="flex items-center justify-end space-x-2">
          {
            links.map(({ url, label }) => (
              <a
                href={url}
                class="text-xs bg-gradient-to-t from-indigo-500 to-purple-500 inline-block rounded-full py-0.5 px-1.5 tracking-wider uppercase font-bold text-white transition-all hover:from-indigo-600 hover:to-purple-500"
              >
                {label}
              </a>
            ))
          }
        </nav>

        <!-- <SocialIcons /> -->
      </div>
    </Container>
  </div>
</header>
