---
import Container from './Containers/Container.astro';
import SocialIcons from './SocialIcons.astro';
---

<header class="relative z-50 flex flex-none flex-col">
  <div class="top-0 z-10 h-16 pt-6">
    <Container>
      <div class="relative flex gap-4">
        <div class="flex flex-1">
          <div class="">
            <a
              href="/"
              class="font-bold text-sm inline-block cursor-pointer tracking-widest text-black hover:text-slate-500 transition-colors duration-200"
              >FRIDAL
            </a>
          </div>
        </div>

        <SocialIcons />
      </div>
    </Container>
  </div>
</header>
