---
import MobileNavItem from './MobileNavItem.astro';

interface Props {
  links: {
    url: string;
    label: string;
  }[];
}

const { links } = Astro.props;
---

<nav class="pointer-events-auto md:hidden mt-6">
  <ul
    class="-my-2 divide-y divide-zinc-100 text-base text-zinc-800 dark:divide-zinc-100/5 dark:text-zinc-300"
  >
    {
      links.map(({ url, label }) => (
        <MobileNavItem href={url}>{label}</MobileNavItem>
      ))
    }
  </ul>
</nav>
